<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aeroprobing.keepaccounts" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/money"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="記帳APP" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".List"
            android:label="查看明細" >
        </activity>
        <activity
            android:name=".SetDate"
            android:label="修改日期" >
        </activity>
    </application>

</manifest>
